
.idea/.name

.idea/encodings.xml

.idea/iflee2000.iml

.idea/libraries/Google_App_Engine_SDK.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

*.pyc
