{% extends "main.html" %}

{% block maincontent %}
<h1>This is Supertiny Groupware</h1>
<h2>A prototype implementation of a really super tiny groupware.</h2>

<p>You can:</p>
<ol>
<li>Create Users</li>
<li>Create Groups</li>
<li><del>Join Groups</del></li>
<li><del>Create Events within a group</del></li>
<li><del>Tell you're interested in an event</del></li>
<li><del>Get picked to join an event</del></li>
<li><del>Discuss an event</del></li>
</ol>

<p>Try it out by registering <a href="/signup">here</a>.</p>

{% endblock %}