{% extends "main.html" %}

{% block title %}Supertiny Groupware - List Groups{% endblock %}

{% block maincontent %}

<h1>List of groups</h1>

{% for group, membership in groupsAndMemberships %}

<div class="group">
    {{group.name}}<br>
    <i>{{group.description}}</i>

    {% if membership %}
        <a href="{{group.name}}/show">Reinschauen</a>
    {% else %}
        <a href="{{group.name}}/join">Beitreten</a>
    {% endif%}
    </div>

{% empty %}
    <div class="group">
        Es gibt noch keine Gruppen. <a href="/creategroup">Erstelle</a> eine!
    </div>
{% endfor %}


{% endblock %}