{% extends "main.html" %}

{% block title %}Supertiny Groupware - {{group.name}}{% endblock %}

{% block maincontent %}

<div class="group">
    <h1>{{group.name}}</h1>
    {% if groupmembership.isAdministrator or groupmembership.isModerator %}
    (You are:
        {% if groupmembership.isAdministrator %}
        admin
        {% endif %}
        {% if groupmembership.isModerator %}
        {% if groupmembership.isAdministrator %}
    ,
        {% endif %}
    moderator
        {% endif %})
    <br>
    {% endif %}

    <i>{{group.privateDescription}}</i>
</div>

<div class="discussion">
    <h2>Diskussion</h2>

    {% for message, user in messages %}
        <div class="{% cycle 'message1' 'message2' %}">
            {{user.name}} schreibt am {{message.created}}<br>
            {{message.text}}

        </div>
    {% empty %}
        <div class="message1">No messages, yet</div>
    {% endfor %}

    <form action="/{{group.name}}/show" method="POST">
        <input type="textfield" name="message" />
        <input type="submit" value="Submit" />
    </form>
</div>

{% if groupmembership.isModerator or groupmembership.isAdministrator %}
<div class="group_membership_requests">
    <h2>Mitgliedschaftsanträge</h2>
    {% for request in member_requests %}
        <div class="group_membership_request">
            {{request.name}} <a href="/{{group.name}}/accept/{{request.get_id}}">Akzeptieren</a>
            |
            <a href="/{{group.name}}/refuse/{{request.get_id}}">Ablehnen</a>


        </div>
    {% empty %}
        <div class="message1">Keine User wollen in die Gruppe</div>
    {% endfor %}

</div>
{% endif %}


{% endblock %}